<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改存储学院信息')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-manage-edit" th:object="${department}">
            <h4 class="form-header h4">存储学院信息信息</h4>
            <input name="departmentId" th:field="*{departmentId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">学院名称：</label>
                <div class="col-sm-8">
                    <input name="departmentName" th:field="*{departmentName}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">学院类型：</label>
                <div class="col-sm-8">
                    <input name="departmentType" th:field="*{departmentType}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">学生人数：</label>
                <div class="col-sm-8">
                    <input name="departmentNum" th:field="*{departmentNum}" class="form-control" type="text" required>
                </div>
            </div>
            <h4 class="form-header h4">课程管理信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-white btn-sm" onclick="addRow()"><i class="fa fa-plus"> 增加</i></button>
                    <button type="button" class="btn btn-white btn-sm" onclick="sub.delRow()"><i class="fa fa-minus"> 删除</i></button>
                    <div class="col-sm-12 select-table table-striped">
                        <table id="bootstrap-table"></table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "department/manage";
        $("#form-manage-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-manage-edit').serialize());
            }
        }

        $(function() {
            var options = {
                data: [[${department.lessonList}]],
                pagination: false,
                showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                sidePagination: "client",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'index',
                    align: 'center',
                    title: "序号",
                    formatter: function (value, row, index) {
                    	var columnIndex = $.common.sprintf("<input type='hidden' name='index' value='%s'>", $.table.serialNumber(index));
                    	return columnIndex + $.table.serialNumber(index);
                    }
                },
                {
                    field: 'lessonName',
                    align: 'center',
                    title: '课程名称',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='lessonList[%s].lessonName' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'lessonType',
                    align: 'center',
                    title: '课程类型',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='lessonList[%s].lessonType' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'lessonNum',
                    align: 'center',
                    title: '课程学生人数',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='lessonList[%s].lessonNum' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var value = $.common.isNotEmpty(row.index) ? row.index : $.table.serialNumber(index);
                        return '<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="sub.delRowByIndex(\'' + value + '\')"><i class="fa fa-remove"></i>删除</a>';
                    }
                }]
            };
            $.table.init(options);
        });

        function addRow() {
            var count = $("#" + table.options.id).bootstrapTable('getData').length;
            var row = {
                index: $.table.serialNumber(count),
                lessonName: "",
                lessonType: "",
                lessonNum: "",
            }
            sub.addRow(row);
        }
    </script>
</body>
</html>